<!-- <mat-toolbar>  
    
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()"><mat-icon>clear</mat-icon></button>
  </mat-toolbar> -->
<form class="normal-form" [formGroup]="addForm" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input formControlName="first" matInput placeholder="First Name">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="last" matInput placeholder="Last Name">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="mobile" matInput placeholder="Mobile">
                    
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="city" matInput placeholder="City">
                </mat-form-field>

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="gender" matInput placeholder="Gender">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="address" matInput placeholder="Address">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="state" matInput placeholder="State">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input formControlName="pin" matInput placeholder="Pincode">
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <br>
                <div class="controles-container">
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!addForm.valid">Submit</button>
                        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>