<mat-toolbar color="blue">
  <mat-toolbar-row>
    <button mat-mini-fab color="warn" (click)="sidenav.toggle();" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <h1>Employee Database</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/viewUser" routerLinkActive="active">Users</a>
      <a mat-list-item routerLink="" routerLinkActive="active">Account</a>
      <a mat-list-item>About Us</a>
      <a mat-list-item>Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div style="height : 88vh;"></div>
  </mat-sidenav-content>
</mat-sidenav-container>